@charset "UTF-8";
hgroup{
    text-align: left;
    padding: 30px;
}
div{
    margin-left:5px;
    margin-right:5px
}
h1.titulos{
    font-size:40px;
    font: bold;
    background-color: rgba(111, 219, 111, 0.979);
    color: rgb(1, 73, 1);
    padding: 10px;
  
    
}
h2.sudtitulo{
    font-size:30px;
    font: bold;
    color: rgb(0, 77, 0);
}
p{
    text-indent: 50px;
    font-size:20px;  
    margin: 2px;
}
a{
    font-size: 20px;
    color: green;
    text-align: left;
}
footer{
    clear: both;
    border-top: 1px solid black;
    text-align: center;
    background-color:rgb(94, 204, 94);
    color: white;
    font-size: small;
}
a.redes_sociais {
    color: white;
} 
fieldset{
    border:1px solid green;
    margin-left:80px;
    margin-right:80px;
}
input{
    border:1px solid black;
}
p.pergunta{
    text-align: left;
}